In [1]:
import pandas as pd

In [2]:
import json
dataimport= json.load(open("data_bicycle3.json"))
dic={}
for line in dataimport.keys():
    dic[(float(line[line.index("(")+1:line.index(",")]),float(line[line.index(",")+1:line.index(")")]))]=tuple(dataimport[line])
print(len(dic))

3178

In [19]:
import numpy as np
def time_unit_transform(time_unit, raw_data, year,month, dic):
    day_month={1:31,2:28,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}
    if year==2020:
        day_month[2]=29

    room = np.full((day_month[month] * (1440 // time_unit), len(dic), 2), 0)
    for i in range(len(raw_data)):
        x = raw_data.loc[i, 'inflow'] // time_unit
        x2 = raw_data.loc[i, 'outflow'] // time_unit
        lat_end = raw_data.loc[i, 'end station latitude']
        lon_end = raw_data.loc[i, 'end station longitude']
        lat_start = raw_data.loc[i, 'start station latitude']
        lon_start = raw_data.loc[i, 'start station longitude']
        if (x>=(day_month[month]*(1440//time_unit))) or (x2>=(day_month[month]*(1440//time_unit))):
            continue
        if (lat_end, lon_end) in dic.keys():
            room[x][dic[(lat_end, lon_end)][1]][0] += 1
        if (lat_start, lon_start) in dic.keys():
            room[x2][dic[(lat_start, lon_start)][1]][1] += 1
    np.save(str(year)+str(month)+".npy", room)

In [4]:
raw_data = pd.read_csv("D:\\bicycle_data\\201901-citibike-tripdata.csv")
raw_data = pd.DataFrame(raw_data)
raw_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967282,291,2019-01-31 17:33:26.4490,2019-01-31 17:38:17.8940,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,19780,Subscriber,1978,2
967283,437,2019-01-31 18:57:45.3380,2019-01-31 19:05:02.4970,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3313.0,6 Ave & 12 St,40.666318,-73.985462,34365,Subscriber,1976,2
967284,173,2019-01-31 19:11:41.1930,2019-01-31 19:14:34.3350,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3418.0,Plaza St West & Flatbush Ave,40.675021,-73.971115,25889,Subscriber,1977,1
967285,244,2019-01-31 20:54:51.1440,2019-01-31 20:58:55.3100,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3346.0,Berkeley Pl & 7 Ave,40.675147,-73.975232,34649,Subscriber,1994,1
967286,387,2019-01-31 23:38:42.1770,2019-01-31 23:45:09.4520,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,17299,Subscriber,1979,1

In [5]:

raw_data["starttime"]= pd.to_datetime(raw_data['starttime'],errors='coerce')
raw_data["stoptime"]= pd.to_datetime(raw_data['stoptime'],errors='coerce')

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967287 entries, 0 to 967286
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             967287 non-null  int64
 1   starttime                967287 non-null  datetime64[ns]
 2   stoptime                 967287 non-null  datetime64[ns]
 3   start station id         967269 non-null  float64
 4   start station name       967269 non-null  object
 5   start station latitude   967287 non-null  float64
 6   start station longitude  967287 non-null  float64
 7   end station id           967269 non-null  float64
 8   end station name         967269 non-null  object
 9   end station latitude     967287 non-null  float64
 10  end station longitude    967287 non-null  float64
 11  bikeid                   967287 non-null  int64
 12  usertype                 967287 non-null  object
 13  birth year               967287 non-null  int64
 14  gender                   967287 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(4), object(3)
memory usage: 110.7+ MB

In [7]:
raw_data.dropna(inplace=True)

In [8]:
raw_data=raw_data[(raw_data['start station name']!='Division Ave & Hooper St') &( raw_data['start station name']!='Cliff St & Fulton St (Old)')&( raw_data['start station name']!='Division St & Bowery (old)')]
raw_data=raw_data[(raw_data['start station name']!='Lafayette St & Jersey St S') &( raw_data['start station name']!='W Broadway & Spring St')&( raw_data['start station name']!='Broadway & W 36 St')]
raw_data=raw_data[(raw_data['start station name']!='Pershing Square South') &( raw_data['start station name']!='W 45 St & 6 Ave -')&( raw_data['start station name']!='E 58 St & 1 Ave')]

In [9]:
raw_data['outflow'] = (raw_data['starttime'].dt.day.fillna(0).astype("int")-1)*24*60+raw_data['starttime'].dt.hour.fillna(0).astype("int")*60+raw_data['starttime'].dt.minute.fillna(0).astype("int")

In [10]:
raw_data['inflow'] = (raw_data['stoptime'].dt.day.fillna(0).astype("int")-1)*24*60+raw_data['stoptime'].dt.hour.fillna(0).astype("int")*60+raw_data['stoptime'].dt.minute.fillna(0).astype("int")

In [11]:
raw_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,outflow,inflow
0,320,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1,1,7
1,316,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1,4,10
2,591,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1,6,15
3,2719,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1,7,52
4,303,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1,7,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967282,291,2019-01-31 17:33:26.449,2019-01-31 17:38:17.894,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3423.0,West Drive & Prospect Park West,40.661063,-73.979453,19780,Subscriber,1978,2,44253,44258
967283,437,2019-01-31 18:57:45.338,2019-01-31 19:05:02.497,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3313.0,6 Ave & 12 St,40.666318,-73.985462,34365,Subscriber,1976,2,44337,44345
967284,173,2019-01-31 19:11:41.193,2019-01-31 19:14:34.335,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3418.0,Plaza St West & Flatbush Ave,40.675021,-73.971115,25889,Subscriber,1977,1,44351,44354
967285,244,2019-01-31 20:54:51.144,2019-01-31 20:58:55.310,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3346.0,Berkeley Pl & 7 Ave,40.675147,-73.975232,34649,Subscriber,1994,1,44454,44458
967286,387,2019-01-31 23:38:42.177,2019-01-31 23:45:09.452,3354.0,3 St & Prospect Park West,40.668132,-73.973638,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,17299,Subscriber,1979,1,44618,44625

In [12]:
raw_data.reset_index(inplace=True, drop=True)

In [13]:
time_unit_transform(60,raw_data,2019,1,dic)

In [20]:
for i in range(1, 13):
    df = pd.read_csv('D:\\bicycle_data\\2019{}-citibike-tripdata.csv'.format(str(i).zfill(2)))
    raw_data = pd.DataFrame(raw_data)
    raw_data.dropna(inplace=True)
    raw_data=raw_data[(raw_data['start station name']!='Division Ave & Hooper St') &( raw_data['start station name']!='Cliff St & Fulton St (Old)')&( raw_data['start station name']!='Division St & Bowery (old)')]
    raw_data=raw_data[(raw_data['start station name']!='Lafayette St & Jersey St S') &( raw_data['start station name']!='W Broadway & Spring St')&( raw_data['start station name']!='Broadway & W 36 St')]
    raw_data=raw_data[(raw_data['start station name']!='Pershing Square South') &( raw_data['start station name']!='W 45 St & 6 Ave -')&( raw_data['start station name']!='E 58 St & 1 Ave')]
    raw_data['outflow'] = (raw_data['starttime'].dt.day.fillna(0).astype("int")-1)*24*60+raw_data['starttime'].dt.hour.fillna(0).astype("int")*60+raw_data['starttime'].dt.minute.fillna(0).astype("int")
    raw_data['inflow'] = (raw_data['stoptime'].dt.day.fillna(0).astype("int")-1)*24*60+raw_data['stoptime'].dt.hour.fillna(0).astype("int")*60+raw_data['stoptime'].dt.minute.fillna(0).astype("int")
    raw_data.reset_index(inplace=True, drop=True)
    time_unit_transform(60,raw_data,2019,i,dic)
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [24]:
for i in range(1,13):
    total2=pd.read_csv('D:\\bicycle_data\\2020{}-citibike-tripdata.csv'.format(str(i).zfill(2)))
    total2=pd.DataFrame(total2)
    total2.dropna(inplace=True)
    
    total2["starttime"]= pd.to_datetime(total2['starttime'],errors='coerce')
    total2["stoptime"]= pd.to_datetime(total2['stoptime'],errors='coerce')
    total2=total2[(total2['start station name']!='Marcus Garvey Blvd & Macon St    [temporarily removed]') &( total2['start station name']!='Schermerhorn St & Court St')&( total2['start station name']!='Willoughby Ave & Myrtle Ave [temporarily removed]')]
    total2=total2[(total2['start station name']!='Franklin St & W Broadway') &( total2['start station name']!='Lispenard St & Broadway')&( total2['start station name']!='W Broadway & Spring St [temporarily removed]')]
    total2=total2[(total2['start station name']!='LaGuardia Pl & W 3 St [temporarily removed]') &( total2['start station name']!='1 Ave & E 16 St [temporarily removed]')&( total2['start station name']!='1 Ave & E 18 St [temporarily removed]')]
    total2=total2[(total2['start station name']!='University Pl & E 14 St') &( total2['start station name']!='E 25 St & 1 Ave')&( total2['start station name']!='Lexington Ave & E 26 St [temporarily removed]')]
    total2=total2[(total2['start station name']!='Greenpoint Ave & Manhattan Ave [temporarily removed]') &( total2['start station name']!='Lexington Ave & E 29 St [temporarily removed]')&( total2['start station name']!='W 26 St & 8 Ave')]
    total2=total2[(total2['start station name']!='W 31 St & 7 Ave [temporarily removed]') &( total2['start station name']!='24 St & 41 Ave (original)')&( total2['start station name']!='31 Ave & Steinway St (temp)')]
    total2=total2[(total2['start station name']!='5 Ave & E 72 St') &( total2['start station name']!='Central Park West & W 85 St (old)')&( total2['start station name']!='Madison Ave & E 99 St')]
    total2=total2[(total2['start station name']!='Frederick Douglass Blvd & W 115 St') &( total2['start station name']!='OLD Southern Blvd & E 142 St')&( total2['start station name']!='E 170 St & Webster Ave_old')]
    total2['outflow'] = (total2['starttime'].dt.day.fillna(0).astype("int")-1)*24*60+total2['starttime'].dt.hour.fillna(0).astype("int")*60+total2['starttime'].dt.minute.fillna(0).astype("int")
    total2['inflow'] = (total2['stoptime'].dt.day.fillna(0).astype("int")-1)*24*60+total2['stoptime'].dt.hour.fillna(0).astype("int")*60+total2['stoptime'].dt.minute.fillna(0).astype("int")
    
    total2.reset_index(inplace=True,drop=True)
    time_unit_transform(60,total2,2020,i,dic)
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [28]:

df3_1= pd.read_csv('D:\\bicycle_data\\2021{}-citibike-tripdata.csv'.format(str(1).zfill(2)))
df3_1=pd.DataFrame(df3_1)
df3_1.dropna(inplace=True)

df3_1["starttime"]= pd.to_datetime(df3_1['starttime'],errors='coerce')
df3_1["stoptime"]= pd.to_datetime(df3_1['stoptime'],errors='coerce')
df3_1['outflow'] = (df3_1['starttime'].dt.day.fillna(0).astype("int")-1)*24*60+df3_1['starttime'].dt.hour.fillna(0).astype("int")*60+df3_1['starttime'].dt.minute.fillna(0).astype("int")
df3_1['inflow'] = (df3_1['stoptime'].dt.day.fillna(0).astype("int")-1)*24*60+df3_1['stoptime'].dt.hour.fillna(0).astype("int")*60+df3_1['stoptime'].dt.minute.fillna(0).astype("int")

df3_1.reset_index(inplace=True,drop=True)
time_unit_transform(60,df3_1,2021,1,dic)

In [29]:

for i in range(2, 9):
            df3 = pd.read_csv('D:\\bicycle_data\\2021{}-citibike-tripdata.csv'.format(str(i).zfill(2)))
            total3=pd.DataFrame(df3)
            total3.dropna(inplace=True)
            total3.rename(columns={'start_lat':'start station latitude', 'start_lng':'start station longitude', 'end_lat':'end station latitude','end_lng':'end station longitude'}, inplace = True)
            total3.drop_duplicates(keep='first',inplace=True)
            
            total3["started_at"]= pd.to_datetime(total3['started_at'],errors='coerce')
            total3["ended_at"]= pd.to_datetime(total3['ended_at'],errors='coerce')
            total3['outflow'] = (total3['started_at'].dt.day.fillna(0).astype("int")-1)*24*60+total3['started_at'].dt.hour.fillna(0).astype("int")*60+total3['started_at'].dt.minute.fillna(0).astype("int")
            total3['inflow'] = (total3['ended_at'].dt.day.fillna(0).astype("int")-1)*24*60+total3['ended_at'].dt.hour.fillna(0).astype("int")*60+total3['ended_at'].dt.minute.fillna(0).astype("int")
            total3.reset_index(inplace=True,drop=True)
            time_unit_transform(60,total3,2021,i,dic)

C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,